# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Deno Test

on:
  push:
    branches:
      - main
    paths:
      - '**.ts'
      - '.github/workflows/test.yml'
      - 'deno.jsonc'
  pull_request:
    branches:
      - main
    paths:
      - '**.ts'

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Deno
        uses: denoland/setup-deno@11b63cf76cfcafb4e43f97b6cad24d8e8438f62d # v1.5.2
        with:
          deno-version: v1.x

      - name: Check
        run: deno task check

      - name: Run linter
        run: deno task lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Deno
        uses: denoland/setup-deno@11b63cf76cfcafb4e43f97b6cad24d8e8438f62d # v1.5.2
        with:
          deno-version: v1.x

      - name: Run test with coverage report
        shell: bash
        run: |
          deno task test:coverage
          deno task coverage:lco
          deno task coverage:show >> .coverage/result.txt

      - name: Upload coverage report to Artifact
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: my-artifact
          path: ./.coverage

  coverage-report:
    needs:
      - ci
      - test
    if: false # if you want to upload coverage report to Codecov, set to true
    runs-on: ubuntu-latest
    permissions:
      write-all
    steps:
      - name: Download coverage report from Artifact
        uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          name: my-artifact
          path: ./.coverage

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        with:
          file: ./.coverage/lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}

  jsr-publish-dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: denoland/setup-deno@11b63cf76cfcafb4e43f97b6cad24d8e8438f62d # v1.5.2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - run: deno publish --dry-run

  action-timeline:
    needs: 
      - ci
      - test
      - coverage-report
      - jsr-publish-dry-run
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - uses: Kesin11/actions-timeline@427ee2cf860166e404d0d69b4f2b24012bb7af4f # v2.2.3
