# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Deno Test

on:
  push:
    branches:
      - main
    paths:
      - "**.ts"
      - ".github/workflows/test.yml"
      - "deno.jsonc"
  pull_request:
    branches:
      - main
    paths:
      - "**.ts"

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.6

      - name: Check
        run: deno task check

      - name: Run linter
        run: deno task lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: 2.5.6

      - name: Run test with coverage report
        shell: bash
        run: |
          deno task test:coverage
          deno task coverage:lco
          deno task coverage:show >> .coverage/result.txt

      - name: Upload coverage report to Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: my-artifact
          path: ./.coverage

  coverage-report:
    needs:
      - ci
      - test
    if: false # if you want to upload coverage report to Codecov, set to true
    runs-on: ubuntu-latest
    permissions:
      write-all
    steps:
      - name: Download coverage report from Artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: my-artifact
          path: ./.coverage

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          file: ./.coverage/lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}

  jsr-publish-dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - run: deno publish --dry-run

  action-timeline:
    needs:
      - ci
      - test
      - coverage-report
      - jsr-publish-dry-run
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
